
<%= form_with(scope: scope, url: url, local: true, method: method) do |form| %> 

          <% if @recipe_ingredient.errors.any? %>
                <div id="error_explanation">
                      <h2><%= pluralize(recipe_ingredient.errors.count, "error") %> prohibited this recipe_ingredient from being saved:</h2>

                      <ul>
                      <% recipe_ingredient.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                </div>
          <% end %>

      <div class="form-group">
        <h5><%= form.label :Ingredient, "add ingredient:" %></h5>
            <div class="dropdown">
              <%= collection_select(:recipe_ingredient, :ingredient_id, Ingredient.order('name ASC'), :id, :name, prompt: true, :include_blank => true) %>
            </div>
      </div>

      <div class="form-group">
            <%= form.label :preparation, "add preparation (if any - e.g. finely sliced):" %>
            <%= form.text_field :preparation %>
      </div>
        
      <table>
            <tr>
                  <td><%= form.text_field :quantity, class: 'form-control', placeholder: "how much" %></td>
                  <td><%= form.text_field :unit, class: 'form-control', placeholder: "unit - e.g. tablespoons" %></td>
            </tr>
      </table>    
      <br>


    <%= form.submit class: 'btn btn-primary' %>
    <%= link_to "Cancel", @recipe, class: "btn btn-link" %>
   
<% end %>
