<%= form_with(model: [recipe, recipe_ingredient], local: true) do |form| %>
  <% if recipe_ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe_ingredient.errors.count, "error") %> prohibited this recipe_ingredient from being saved:</h2>

      <ul>
      <% recipe_ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
    <%= form.label :Ingredient %>
    <div class="dropdown">
      <%= collection_select(:recipe_ingredient, :ingredient_id, Ingredient.all, :id, :name) %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :quantity %>
    <%= form.text_field :default_amount, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :unit %>
    <%= form.text_field :unit, class: 'form-control' %>
  </div>



    <%= form.submit class: 'btn btn-primary' %>
      <%= link_to "Cancel", recipe, class: "btn btn-link" %>

  </div>
<% end %>
