
<%= form_with(scope: scope, url: url, local: true, method: method) do |form| %> 

<%= render 'shared/errors', object: @recipe_ingredient %>

          

      <div class="form-group">
        <h5><%= form.label :Ingredient, "add ingredient:" %></h5>
            <div class="dropdown">
              <%= collection_select(:recipe_ingredient, :ingredient_id, Ingredient.order('name ASC'), :id, :name, prompt: true, :include_blank => true) %>
            </div>
      </div>


        
      <table>
            <tr>
                  <td><%= form.text_field :quantity, class: 'form-control', placeholder: "qty (numbers only)" %></td>
                  <td><%= form.text_field :unit, class: 'form-control', placeholder: "unit (if any) - e.g. tbsp" %></td>
            </tr>
            <tr>
                  <td><%= form.label :preparation, "add preparation (if any):" %></td>
                  <td><%= form.text_field :preparation, class: 'form-control', placeholder: "e.g. finely sliced" %></td>
            </tr>


      </table>    
      <br>
      


    <%= form.submit class: 'btn btn-primary' %>
    <%= link_to "Cancel", @recipe, class: "btn btn-link" %>
   
<% end %>
