


<div class="row">
  <div class="col-sm-6">
    <h1>Recipe_ingredients</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_recipe_ingredient_path, class: 'btn btn-primary' do %>
    Add New Recipe ingredient
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Recipe</th>
            <th>Ingredient</th>
            <th>Default amount</th>
            <th>Unit</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @recipe_ingredients.each do |recipe_ingredient| %>
        <%= content_tag :tr, id: dom_id(recipe_ingredient), class: dom_class(recipe_ingredient) do %>
          

                      <td><%= recipe_ingredient.recipe %></td>
                      <td><%= recipe_ingredient.ingredient %></td>
                      <td><%= recipe_ingredient.default_amount %></td>
                      <td><%= recipe_ingredient.unit %></td>
          
          
            <td><%= link_to 'Show', recipe_ingredient %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
