

<%= form_with(scope: :meal_ingredient, method: method, url: url, :html=> {:id => id}, data: {controller: 'hello', action: 'turbo:submit-end->hello#reset'}) do |form| %>
    <%#= form_with(model: [@model, @meal_ingredient], local:true) do |f| %>

      <%= render 'shared/errors', object: @meal_ingredient %>
      

        <%# if @meal_ingredient.persisted? %>
          <%#= form.label :Ingredient, "Change ingredient:" %>
        <%# else %>
          <%#= form.label :Ingredient, "Add ingredient:" %>
        <%# end %>
                
        <%= collection_select(:meal_ingredient, :ingredient_id, Ingredient.order('name ASC'), :id, :name, prompt: true, :include_blank => true) %>
           


        <%= form.text_field :quantity, placeholder: "Quantity" %>
        <%= form.text_field :unit, placeholder: "unit (optional)" %>
        <%= form.text_field :preparation, placeholder: "preparation (if any)" %>


        <%#= form.label :meal_id %>
        <%#= form.hidden_field :meal_id, class: 'form-control' %>


      <% unless @meal_ingredient.persisted? %>
        <%#= form.hidden_field :meal_recipe_id, value: params[:meal_recipe_id] %>
        <%#= form.hidden_field :meal_recipe_id, value: session[:meal_recipe_id] %>
        <%#= form.hidden_field :meal_id, value:meal_id %>
      <% end %>


        <% if @meal_ingredient.persisted? %>
          <div class="float-right">
            <%= link_to 'Destroy', @meal_ingredient, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>

        <%= form.submit class: 'btn btn-primary' %>

<% end %>
