<div class="container rounded p-3 my-3 bg-light" style="border:0px solid black">
  <div class="row">
    <div class="col-sm">
      <h3><%= nice_date(day.date) %></h3>
    </div>
    <div class="col-sm">
        <% if day.holiday.present? %>    -----<em><%= day.holiday %><em>-----<br><% end %>
        <%= link_to "Notes:", edit_day_path(day) %> <%= day.notes %>
    </div>
    <div class="col-sm">
      <% if @meal_plan.status == "draft" %>
            <%= link_to "Delete day & all meals in it", day_path(day), 
                    class: 'btn btn-default', 
                    method: :delete, class: "text-danger", 
                    data: { confirm: 'Are you sure? This will delete the remove the day and delete any meals in it.' } %>
    <% end %>
    </div>
  </div>
</div>