<%= form_with(model: meal_plan, local: true) do |form| %>

    <%= render 'shared/errors', object: @meal_plan %>

  

  <% if meal_plan.persisted? %>
  <p> To edit which days are in the meal plan, manually add or delete them from the main <%= link_to "Meal Plan", meal_plan %> page.</p>
     <% else %> 
      <div class="form-group">
        <%#= form.label :start_date %>
        <%= form.hidden_field :start_date_from_form, value: params[:start_date].to_date %>
      </div>
      

      <div class="form-group">
        <%= form.label :number_of_days %>
        <%= form.number_field :number_of_days_from_form, class: 'form-control', in: 1.0..31.0, step: 1 %>
      </div>
  <% end %>

  <div class="form-group">
    <%= form.label :notes %>
    <%= form.text_area :notes, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if meal_plan.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', meal_plan, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if meal_plan.persisted? %>
      <%= link_to "Cancel", meal_plan, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", meal_plans_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
