

<div class="card" style="max-width: 18rem;">
  <div class="card-header">
 
  <h5><%= meal.name %></h5>
    <% if @meal_plan.status=="draft" %>
        <%= link_to "Edit/Delete meal", edit_meal_path(meal) %>
    <% end %>
  </div>


<div class="container">
<br>
  <div class="row">
    <% if meal.meal_recipes.present? %>
        <% meal.meal_image_array.each do |image| %>
            <div class="col-sm">
            <%= image_tag(image, class: "rounded-circle", size: '50', style: 'object-fit: cover')  %>
            </div>
        <% end%>     

    <% else %>
        <div class="col-sm">
        <%= link_to image_tag( 'https://reciping.s3.us-east-2.amazonaws.com/plate.jpg', class: "rounded-circle", size: '200', style: 'object-fit: cover' ) %>
        </div>
    <% end %>
     
  </div>
    </div>
    <div class="card-body">
        <% if meal.notes.present? %>
            Notes: <%= meal.notes %><br><br>
        <% end%>
      
        <% meal.meal_recipes.each do |meal_recipe| %>

            <h6><%= meal_recipe.recipe.name %></h6> 
            <%= pluralize(round_nicely(meal_recipe.portions), "portion") %>

             <% if @meal_plan.status=="draft" %>
             
                    <%= link_to image_tag( 'https://reciping.s3.us-east-2.amazonaws.com/icontimestwo.png', size: '25'), meal_recipe_double_portions_path(meal_recipe) %>
                    <%= link_to image_tag( 'https://reciping.s3.us-east-2.amazonaws.com/icon-divide.png', size: '25'), meal_recipe_half_portions_path(meal_recipe) %>
                    <%= link_to image_tag('https://reciping.s3.us-east-2.amazonaws.com/icon-add1.png', size: '25'), meal_recipe_add_one_portion_path(meal_recipe) %>
                    <%= link_to image_tag('https://reciping.s3.us-east-2.amazonaws.com/delete.png', size: '25'), meal_recipe_path(meal_recipe),
            method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %><br><br>
            <% end %>
            <%= render 'meal_plans/meal_recipe_ingredients_list', meal_recipe:meal_recipe %>
            

        <% end %>
            
    </div>

    <% if @meal_plan.status=="draft" %>
    <div class="card-footer">
          <%= render 'meal_recipes/form', meal: meal, scope: @new_meal_recipe, url: meal_meal_recipes_path(meal), method: :post %>
    </div>
    <% end %>
 
</div>
