

<div class="card" style="max-width: 18rem;">
  <div class="card-header"><%= meal.meal_type %><p><%= link_to "Edit/Delete", edit_meal_path(meal) %></p>
  <h5><%= meal.name %></h5>
  </div>
  <% if meal.meal_recipes.present? %>
  <%= link_to ( image_tag meal.meal_recipes.first.recipe.main_image, class: 'card-img-top' ), edit_meal_path(meal) %>
  <% end %>
    <div class="card-body">

      
        <h6>Recipes used in this meal:</h6><br>
      
            <% meal.meal_recipes.each do |meal_recipe| %>
                <h6><%= meal_recipe.recipe.name %></h6> <%= meal_recipe.portions %> portions <br><br>
                <%= render 'meal_plans/meal_recipe_ingredients_list', meal_recipe:meal_recipe %>
                <br>
            <% end %>
      
          
          <%= render 'meal_recipes/form', meal: meal, scope: @new_meal_recipe, url: meal_meal_recipes_path(meal), method: :post %>
    
    </div>
</div>
