
<% meals.each do |meal| %>
                  
      <div class="card">
        <div class="card-body">
            <h5 class="card-title"><%= meal.name %></h5><%= link_to "Edit/Delete", edit_meal_path(meal) %>
            <p><%= meal.meal_date.strftime("%A, %B %d") %>, <%= meal.meal_type %></p>
            
              <p class="card-text">
              <h6>Recipes used in this meal:</h6>
              <ul class="list-group list-group-flush">
              <% meal.meal_recipes.each do |meal_recipe| %>
          
                  <%= meal_recipe.recipe.name %>, <%= meal_recipe.portions %> portions
                  <%= link_to "Remove", meal_recipe_path(meal_recipe),
                                                                method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
              
                        <% meal_recipe.meal_ingredients.each do |meal_ingredient| %>

                        <li class="list-group-item"><td><%= meal_ingredient.ingredient.name %> 
                                                        <%= meal_ingredient.quantity %> 
                                                        <%= meal_ingredient.unit %>    
                                                        <%#= link_to "Edit", edit_recipe_ingredient_path(recipe_ingredient) %>
                                                        <%#= link_to "Remove", recipe_ingredient_path(recipe_ingredient),
                                                                method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
                                                        </td></li>

                        <% end %>
                    </ul></p>
              
                <% end %>
                
        <%= render 'meal_recipes/form', meal: meal, scope: @meal_recipe, url: meal_meal_recipes_path(meal), method: :post %>
                
        </div>
      </div>
      <br>
  <% end %>
