<%#= image_tag(meal_recipe.recipe.main_image) %>

<small class="text-muted">
<% meal_recipe.meal_ingredients.each do |meal_ingredient| %>

        <li> <%= meal_ingredient.ingredient.name %> 
                                            <%= meal_ingredient.quantity.round(1) %> 
                                            <%= meal_ingredient.unit %>    
                                            <% if @meal_plan.status=="draft" %>
                                                <%= link_to "Edit", edit_meal_ingredient_path(meal_ingredient) %>
                                                <%= link_to "X", meal_ingredient_path(meal_ingredient),
                                                        method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
                                            <% end %>
                                            </li>

<% end %>
</ul></p>
</small>