

<div class="card" style="max-width: 18rem;">
  <div class="card-header"><%= meal.meal_type %><p><%= link_to "Edit/Delete meal", edit_meal_path(meal) %></p>
  <h5><%= meal.name %></h5><%= link_to "(edit name)", edit_meal_path(meal) %>
  </div>
  <% if meal.meal_recipes.present? %>
  <%= link_to ( image_tag meal.meal_recipes.first.recipe.main_image, class: 'card-img-top' ), edit_meal_path(meal) %>
  <% end %>
    <div class="card-body">
        <% if meal.notes.present? %>
            Notes: <%= meal.notes %><br><br>
        <% end%>
      
        <h6>Recipes used in this meal:</h6><br>
      
        <% meal.meal_recipes.each do |meal_recipe| %>
            <h6><%= meal_recipe.recipe.name %></h6> <%= pluralize(meal_recipe.portions.round(1), "portion") %>
             
                    <%= link_to image_tag('icon-x2.png', size: '32'), meal_recipe_double_portions_path(meal_recipe) %>
                    <%= link_to image_tag('icon-divide.png', size: '32'), meal_recipe_half_portions_path(meal_recipe) %>
                    <%= link_to image_tag('icon-add1.png', size: '32'), meal_recipe_add_one_portion_path(meal_recipe) %>
                    <%= link_to "Remove", meal_recipe_path(meal_recipe),
            method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %><br><br>
            <%= render 'meal_plans/meal_recipe_ingredients_list', meal_recipe:meal_recipe %>
            

        <% end %>
            
    </div>

    <div class="card-footer">
          <%= render 'meal_recipes/form', meal: meal, scope: @new_meal_recipe, url: meal_meal_recipes_path(meal), method: :post %>
    </div>
 
</div>
