
<h1>Meal_plans</h1>

<%= link_to "Create new meal plan", new_meal_plan_path, class: 'btn btn-primary' %>
<br>



      <% @meal_plans.each do |meal_plan| %>
                      <%= meal_plan.id %>
                      <%= pluralize(meal_plan.number_of_days, "day") %>
                      <%= meal_plan.start_date.strftime("%A, %B %d") %>
                      <%= meal_plan.notes %>
          
            <%= link_to 'Show', meal_plan %>
          <br>
        <% end %>
      

