


<div class="row">
  <div class="col-sm-6">
    <h1>Meal_plans</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_meal_plan_path, class: 'btn btn-primary' do %>
    Add New Meal plan
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>User</th>
            <th>Start date</th>
            <th>Notes</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @meal_plans.each do |meal_plan| %>
        <%= content_tag :tr, id: dom_id(meal_plan), class: dom_class(meal_plan) do %>
          

                      <td><%= meal_plan.user %></td>
                      <td><%= meal_plan.start_date %></td>
                      <td><%= meal_plan.notes %></td>
          
          
            <td><%= link_to 'Show', meal_plan %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
