
<h1>Meal_plans</h1>

<%= link_to "Create new meal plan", new_meal_plan_path, class: 'btn btn-primary' do %>


      <% @meal_plans.each do |meal_plan| %>
        <%= content_tag :tr, id: dom_id(meal_plan), class: dom_class(meal_plan) do %>
          
                      <td><%= meal_plan.user %></td>
                      <td><%= meal_plan.start_date %></td>
                      <td><%= meal_plan.notes %></td>
          
            <td><%= link_to 'Show', meal_plan %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
