
<h1>Meal Plans</h1>

<%#= link_to "Create new meal plan", new_meal_plan_path, class: 'btn btn-primary' ---- need to add date=0 case in order to keep this%>

<br><br>
   

<% prev_mp = nil %>
<%= month_calendar events: @days do |date, days| %>
  <%= date.day %>

  <% unless date_array.include?(date) %>
          <%= link_to (bi_icon 'plus-circle', class: 'bi ingredient-style'), 
              new_meal_plan_path(start_date: date) %>
  <% end %>

  <% days.each do |day| %>
      <%= render 'calendar_meal_plan_banner', day: day %>
      <%= render 'calendar_meals_in_day', day: day %>
  <% end %>

<% end %>
