<div class="page-header">

  <%= link_to "<< all meal plans", meal_plans_path, class: 'btn btn-default' %>

  <%#= link_to "Edit", edit_meal_plan_path(@meal_plan), class: 'btn btn-primary' %>
  <%= link_to "Delete Meal Plan", meal_plan_path(@meal_plan), class: 'btn btn-primary', 
    method: :delete, class: "text-danger", 
    data: { confirm: 'Are you sure? This will delete the meal plan and all days and meals in it.' }%>


  <h3>Meal Plan for period starting: <%= @meal_plan.start_date.strftime("%A, %B %d") %>
                             (<%= pluralize(@meal_plan.number_of_days, "day") %>)</h3>
                               <%= link_to "Add a day", new_meal_plan_day_path(@meal_plan), 
                               class: 'btn btn-primary' %>

</div>

Notes: <%= @meal_plan.notes %><br>
<br>

<% @days.each do |day| %>

<div class="container p-3 my-3 bg-primary text-white">
  

      <h5>DAY: <%= day.date.strftime("%A, %B %d") %></h5>
        <%= link_to "Delete", day_path(day), 
                class: 'btn btn-primary', 
                method: :delete, class: "text-danger", 
                data: { confirm: 'Are you sure? This will delete the remove the day and delete any meals in it.' }%>
 </div>
 
 
  <p>NOTES: <%= day.notes %></p>
        <div class="card-deck">
              <% day.meals.each do |meal| %>
                  <%= render 'meal_card', meal: meal %>
              <% end %>
              <%= render 'add_meal_card', meal: @new_meal, day: day, url: day_meals_path(day), method: :post, :style=>'width:10%' %>

        </div>
            
      
<% end %>