<div class="page-header">

  <%= link_to "<< all meal plans", meal_plans_path, class: 'btn btn-default' %>

  <%= link_to "Edit", edit_meal_plan_path(@meal_plan), class: 'btn btn-primary' %>

  <h3>Meal Plan Days: <%= @meal_plan.start_date.strftime("%A, %B %d") %> (<%= pluralize(@meal_plan.number_of_days, "days") %> )</h3>
</div>

Notes: <%= @meal_plan.notes %><br>
<br>

<% @days.each do |day| %>
DAY: <%= day.date.strftime("%A, %B %d") %>

      <div class="row">
          <div class="col-sm-5">
          <% day.meals.each do |meal| %>

              <%= render 'meal_card', meal: meal %>
              <br>
              <% end %>
          </div>
            
          <div class="col-sm-5">
          <h3>Add meal to <%= day.date.strftime("%A") %>:</h3>
          <%= render 'add_meal_card', meal: @meal, url: day_meals_path(day), method: :post %>
            <br>
          </div> 
          <br>
      </div>
<% end %>