<div class="page-header">

  <%= link_to "<< all meal plans", meal_plans_path, class: 'btn btn-default' %>

  <%#= link_to "Edit", edit_meal_plan_path(@meal_plan), class: 'btn btn-primary' %>
  <%= link_to "Delete Meal Plan", meal_plan_path(@meal_plan), class: 'btn btn-primary', 
    method: :delete, class: "text-danger", 
    data: { confirm: 'Are you sure? This will delete the meal plan and all days and meals in it.' }%>


  <h3>Meal Plan for period starting: <%= @meal_plan.start_date.strftime("%A, %B %d") %>
                             (<%= pluralize(@meal_plan.number_of_days, "day") %>)</h3>
                               <%= link_to "Add a day", new_meal_plan_day_path(@meal_plan), 
                               class: 'btn btn-primary' %>

</div>

Notes: <%= @meal_plan.notes %><br>
<br>

<% @days.each do |day| %>

<div class="container p-3 my-3 bg-primary text-white">
  

      <h5>DAY: <%= day.date.strftime("%A, %B %d") %></h5>
      <p>NOTES: <%= day.notes %></p>
        <%= link_to "Delete day & all meals in it", day_path(day), 
                class: 'btn btn-primary', 
                method: :delete, class: "text-danger", 
                data: { confirm: 'Are you sure? This will delete the remove the day and delete any meals in it.' }%>
 </div>
 
 
  
        <div class="card-deck">
              <% day.meals.each do |meal| %>
                  <%= render 'meal_card', meal: meal %>
              <% end %>
              <%= render 'add_meal_card', meal: @new_meal, day: day, url: day_meals_path(day), method: :post, :style=>'width:10%' %>

        </div>
            
      
<% end %>
<br>

<h2>All Ingredients: </h2>

<% check_cat_name = "" %>
<% check_ing_name = "" %>

<% @active_record_ingredients.each do |mp| %>
      <% unless check_cat_name == mp.cat_name %>
          <br><br>
          <h5><%= mp.cat_name %><br></h5>
          <% check_cat_name = mp.cat_name %>
      <% end %>
      <% unless check_ing_name == mp.ing_name -%>
        <%= mp.ing_name -%>
        <% check_ing_name = mp.ing_name -%>
      <% end -%>
      <%= pluralize(mp.sum, mp.unit) -%>
      
      <br>
<% end %>


<br><br>
<%#=@active_record_ingredients.columns %>

<br><br>
<%#= @array_of_hashes %>

<h2>Output</h2>
array of arrays: <%= @array_of_arrays %>
<br><br><br><br>
<%#= @cats %>
<br><br><br><br>
<%#= @all_ingredient_categories %>
<%= @final_array %>
<br><br><br><br>
<% @final_array.each do |cat_array| %>
<br><br>
  <%= cat_array[0] %>
    <% cat_array[1].each do |ing_array| %>
    <br>
      <%= ing_array[0] %>
      <% ing_array[1].each do |sum_qty_hash| %>
 
          <%= sum_qty_hash[:sum] %> <%= sum_qty_hash[:unit] %>

      <% end %>
    <% end %>

<% end %>