
<%= link_to "<< all meal plans", meal_plans_path, class: 'btn btn-default' %>
<h6>Meal Plan for period starting: <%= nice_date(@meal_plan.start_date) %>
                        (<%= pluralize(@meal_plan.number_of_days, "day") %>)</h5>
<% if @meal_plan.notes.present? %> <br><small>Notes: <%= @meal_plan.notes %></small><% end %>

<% if @meal_plan.status == "confirmed" %>
    Meal plan status: <strong>Closed to editing </strong>
    | <%= link_to("View shopping list", meal_plan_shopping_list_items_url(@meal_plan)) %>
    | <%= link_to("Return meal plan to draft", 
                    meal_plan_delete_shopping_list_path(@meal_plan),
                    data: { confirm: "Are you sure? This will delete the shopping list and lose any edits you've made or items you've ticked off." }) %></p>
<% else %>
    Meal plan status: <strong> DRAFT </strong>
    | <%= link_to("Finalise meal plan & generate shopping list", meal_plan_create_shopping_list_path(@meal_plan)) %>
    | <%= link_to "Delete Meal Plan", meal_plan_path(@meal_plan), 
            method: :delete, 
            data: { confirm: 'Are you sure? This will delete the meal plan and all days and meals in it.' } %>
<% end %>

<br><br>

<%= turbo_stream_from "day-list#{@meal_plan.id}" %>
<%= turbo_frame_tag "day-list#{@meal_plan.id}" do %>  
    <% @days.each do |day| %>
        <%= turbo_frame_tag "day#{day.id}", src: day_path(day), loading: :eager do %>
            Loading...
        <% end %>
    <% end %><br>
<% end %>

<% if @meal_plan.status=="draft" %>
    <div data-controller="toggle">
        <div data-toggle-target="visibleOnLoad">
            <button type="button" class="btn btn-primary " 
                data-action="click->toggle#showhide">
                Add day to meal plan
            </button>
        </div>

        <div data-toggle-target="hiddenOnLoad" class="d-none"><br>
            <button type="button" class="btn btn-primary " 
                data-action="click->toggle#showhide">
                Hide form
            </button>
            <%= render "days/simple_form", meal_plan: @meal_plan, day: @new_day %>
        </div>
    </div>
<% end %>