<%= form_with(scope: :stock_log, url: url, local: true) do |form| %>
  <% if @stock_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stock_log.errors.count, "error") %> prohibited this stock_log from being saved:</h2>

      <ul>
      <% @stock_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= form.label :portions %>
    <%= form.number_field(:portions, in: 0.5..@max_portions, step: 0.5) %>
  </div>


  <div class="form-group">
    <% if @stock_log.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', @cancel_url, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit "Save", class: 'btn btn-primary' %>

   <%= link_to "Cancel", @cancel_url, class: "btn btn-link" %>
   
  </div>
<% end %>
