


<div class="row">
  <div class="col-sm-6">
    <h1>Stock_logs</h1>
  </div>

  <div class="col-sm-6 text-right">
  
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>User</th>
            <th>Recipe</th>
            <th>Datetime</th>
            <th>Quantity</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @stock_logs.each do |stock_log| %>
        <%= content_tag :tr, id: dom_id(stock_log), class: dom_class(stock_log) do %>
          

                      <td><%= stock_log.user.name %></td>
                      <td><%= stock_log.recipe.name %></td>
                      <td><%= nice_date(stock_log.datetime) %></td>
                      <td><%= pluralize(round_nicely(stock_log.portions), "portion") %></td>
          
          
            <td><%= link_to 'Delete', meal_recipe_stock_log_path(stock_log.meal_recipe, stock_log), 
              method: :delete  %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

