
<h1>Shopping list</h1>

To buy:

<ul>
<% prev_category = nil %>
<% prev_ingredient = nil %>
<% @shopping_list_items_unticked.each do |item| %>
<% unless item.ingredient.ingredient_category == prev_category -%><br><br><h6><%= item.ingredient.ingredient_category.name %></h6><% end -%>
<% prev_category = item.ingredient.ingredient_category -%>
    <% unless item.ingredient == prev_ingredient -%><br> <%= item.ingredient.name -%>: <% end -%><% if item.ingredient == prev_ingredient -%> & <% end %><%= item.sum_qty.round(0.05) %> <%= item.unit %>
    <% prev_ingredient = item.ingredient %>
<% end %>
</ul>

<% @shopping_list_items_ticked.each do |item| %>
    <%= item.ingredient.name %>   
<% end %>


Bought / already got:



<div class="row">
  <div class="col-sm-6">
    <h1>Shopping list</h1>
  </div>

  <div class="col-sm-6 text-right">
  
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Ingredient</th>
            <th>Sum qty</th>
            <th>Unit</th>
            <th>Ticked</th>
            <th>Meal plan</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @shopping_list_items.each do |shopping_list_item| %>
        <%= content_tag :tr, id: dom_id(shopping_list_item), class: dom_class(shopping_list_item) do %>
          

                      <td><%= shopping_list_item.ingredient.name %></td>
                      <td><%= shopping_list_item.sum_qty.round(0.05) %></td>
                      <td><%= shopping_list_item.unit %></td>
                      <td><%= shopping_list_item.ticked %></td>
                      <td><%= shopping_list_item.meal_plan.start_date %></td>
          
          
 
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
