


<div class="row">
  <div class="col-sm-6">
    <h1>Shopping_list_items</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_shopping_list_item_path, class: 'btn btn-primary' do %>
    Add New Shopping list item
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Ingredient</th>
            <th>Sum qty</th>
            <th>Unit</th>
            <th>Ticked</th>
            <th>Meal plan</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @shopping_list_items.each do |shopping_list_item| %>
        <%= content_tag :tr, id: dom_id(shopping_list_item), class: dom_class(shopping_list_item) do %>
          

                      <td><%= shopping_list_item.ingredient %></td>
                      <td><%= shopping_list_item.sum_qty %></td>
                      <td><%= shopping_list_item.unit %></td>
                      <td><%= shopping_list_item.ticked %></td>
                      <td><%= shopping_list_item.meal_plan %></td>
          
          
            <td><%= link_to 'Show', shopping_list_item %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
