<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :meal_type %>
    <%= form.text_field :meal_type, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :method %>
    <%= form.text_area :method, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :default_qty %>
    <%= form.text_field :default_qty, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :default_unit %>
    <%= form.text_field :default_unit, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :notes %>
    <%= form.text_area :notes, class: 'form-control' %>
  </div>

  <div class="form-group">
    <% if recipe.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', recipe, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if recipe.persisted? %>
      <%= link_to "Cancel", recipe, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", recipes_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
