<% recipe_ingredient_groups.each do |recipe_ingredient_group| %>
                  
      <div class="card">
        <div class="card-body">
            <h5 class="card-title"><%= recipe_ingredient_group.name %></h5>
            <%= link_to "Edit/Delete", edit_recipe_ingredient_group_path(recipe_ingredient_group) %>
              <p class="card-text">
              <ul class="list-group list-group-flush">
                    <% recipe_ingredient_group.recipe_ingredients.each do |recipe_ingredient| %>
            
                    <li class="list-group-item"><td><%= recipe_ingredient.ingredient.name %> 
                                                    <%= recipe_ingredient.default_amount %> 
                                                    <%= recipe_ingredient.unit %>    
                                                    <%= link_to "Edit", edit_recipe_ingredient_path(recipe_ingredient) %>
                                                    <%= link_to "Remove", recipe_ingredient_path(recipe_ingredient),
                                                            method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
                                                    </td></li>

                    <% end %>
                </ul></p>
                
                <%= render 'recipe_ingredients/form', scope: :recipe_ingredient, url: recipe_ingredient_group_recipe_ingredients_path(recipe_ingredient_group), method: :post %>
        </div>
      </div>
      <br>
  <% end %>
