<% recipe_ingredient_groups.each do |recipe_ingredient_group| %>
                  
  <div class="card">
    <div class="card-body">
        <h5 class="card-title"><%= recipe_ingredient_group.name %></h5>
        <% if recipe_ingredient_group.recipe.user == current_user %>
        <%= link_to "Edit group name", edit_recipe_ingredient_group_path(recipe_ingredient_group) %>
        <% end %>
          <p class="card-text">
          <ul class="list-group list-group-flush">
                <% recipe_ingredient_group.recipe_ingredients.each do |recipe_ingredient| %>
        
                    <li class="list-group-item"><td><%= render 'shared/display_ingredient_info', mi_or_ri: recipe_ingredient, include_prep: "yes" %>
                    <% if recipe_ingredient_group.recipe.user == current_user %>
                            <%= link_to icon('fas', 'pencil-alt'), edit_recipe_ingredient_path(recipe_ingredient) %>
                            <%= link_to icon('fas', 'trash'), recipe_ingredient_path(recipe_ingredient),
                                    method: :delete, class: "text-danger", 
                                    data: { confirm: 'Are you sure?' } %>
                            </td></li>

                    <% end %>
                <% end %>
            </ul></p>
          <% if recipe_ingredient_group.recipe.user == current_user %>

            <h5>Add ingredient (<%= recipe_ingredient_group.name %>)</h5>
            <%= render 'recipe_ingredients/form', scope: :recipe_ingredient, 
                                url: recipe_ingredient_group_recipe_ingredients_path(recipe_ingredient_group), 
                                method: :post %>
          <% end %>
    </div>
  </div>
  <br>
<% end %>
