
<div class="card">
    <div class="card-body">
        <h5 class="card-title"><%= recipe.name %></h5>
        <p class="card-text"><%= main_image(recipe) %>

      

      <dt>Method:</dt>
      <dd><%= recipe.method %></dd>

      <dt>Portions:</dt>
      <dd><%= recipe.portions%></dd>

      <dt>Notes:</dt>
      <dd><%= Rinku.auto_link(recipe.notes, mode=:all, link_attr=nil, skip_tags=nil).html_safe %></dd>

        </p>
      <% unless edit == "no" %>
        <dt>Meal type:</dt> <dd><%= recipe.meal_type %></dd>
        <%= link_to "Edit", edit_recipe_path(recipe), class: 'btn btn-primary' %>
      <% end %>
    </div>
</div>