
<div class="card">
<%#= image_tag recipe.main_image, class: 'card-img-top height: 30vw'  %>

    <div class="card-body">
        <h5 class="card-title">
        
        <%= recipe.name %>, 
        <% if portions.present? %>
            <% if portions != recipe.portions %>
              <s><%= pluralize(round_nicely(recipe.portions), "portion") %></s>
              <span class =font_handwriting ><%= pluralize(round_nicely(portions), "portion") %> </span></h5>
            <% else %>
              <%= pluralize(round_nicely(recipe.portions), "portion") %></h5>
            <% end %>
        <% end %>
      
      
      <% if portions.present? && portions != recipe.portions %>
        <span class =font_handwriting > (note - method is for 
        <%= pluralize(round_nicely(recipe.portions), "portion") %>, you're making 
        <u><%= pluralize(round_nicely(portions), "portion") %>)</u></span>
      <% end %>
  
      <%= recipe.method %>

     Notes:
      <%= Rinku.auto_link(recipe.notes, mode=:all, link_attr=nil, skip_tags=nil).html_safe %>

      <% unless edit == "no" %>
        Meal type:</dt> <dd><%= recipe.meal_type %>
        <%= link_to "Edit", edit_recipe_path(recipe), class: 'btn btn-primary' %>
      <% end %>
    </div>
</div>

<br>