
<div class="card">
    <div class="card-body">
        <h5 class="card-title"><%= recipe.name %></h5>
        <p class="card-text"><%= main_image(recipe) %>

      <dt>Meal type:</dt> <dd><%= recipe.meal_type %></dd>

      <dt>Method:</dt>
      <dd><%= recipe.method %></dd>

      <dt>Portions:</dt>
      <dd><%= recipe.portions%></dd>

      <dt>Notes:</dt>
      <dd><%= recipe.notes %></dd>

        </p>
              <%= link_to "Edit", edit_recipe_path(recipe), class: 'btn btn-primary' %>
    </div>
</div>