
<div class="card">
<%#= image_tag recipe.main_image, class: 'card-img-top height: 30vw'  %>

    <div class="card-body">
      
        
    <h2><%= recipe.name %></h2> 
    <% if portions.present? %>
        <% if portions != recipe.portions %>
          <s><%= pluralize(round_nicely(recipe.portions), "portion") %></s>
          <span style = "font-family:Nothing You Could Do" ><%= pluralize(round_nicely(portions), "portion") %> </span></h5>
        <% else %>
          <%= pluralize(round_nicely(recipe.portions), "portion") %></h5>
        <% end %>
    <% end %>
    
    
    <% if portions.present? && portions != recipe.portions %>
      <span style = "font-family:Nothing You Could Do" > (note - method is for 
      <%= pluralize(round_nicely(recipe.portions), "portion") %>, you're making 
      <u><%= pluralize(round_nicely(portions), "portion") %>)</u></span>
    <% end %>
  
    <p><%= recipe.method %></p>

    Portions: <%= pluralize(round_nicely(recipe.portions), "portion") %><br><br>

    <% if recipe.view_link.present? %>
    View online:
      <%= Rinku.auto_link(recipe.view_link, mode=:all, link_attr=nil, skip_tags=nil).html_safe %><br><br>
     <% end %> 

    <% if recipe.buy_link.present? %>
    Buy the book:
      <%= Rinku.auto_link(recipe.buy_link, mode=:all, link_attr=nil, skip_tags=nil).html_safe %><br><br>
    <% end %>
     
      <% unless edit == "no" || recipe.user != current_user %>
        Meal type: <%= recipe.meal_type %><br><br>
        <%= link_to "Edit", edit_recipe_path(recipe), class: 'btn btn-primary' %>
      <% end %>
    </div>
</div>

<br>