<div class="page-header">
    <%= link_to "<< All Recipes", recipes_path, class: 'btn btn-default' %>
</div>

<div class="row">
    <div class="col-sm-7">
        <%= render 'method_card', recipe: @recipe, edit:"yes", portions: nil %>
        <br>

        Leftover log:

        <ul>
        <% StockLog.recipe(@recipe).user(current_user).each do |log_entry| %>
            <li><%= log_entry.recipe.name %><%= log_entry.datetime %> <%= log_entry.portions %></li>
        <% end %>
        </ul>

        <br>
        Balance: <%= @balance_today %>

<%#= current_recipe_balance(DateTime.now, @recipe, current_user) %>
    </div>
      <br>
    <div class="col-sm-5">
        <%= render 'recipe_image_card', recipe: @recipe %>
        <br>
        <%= render 'ingredients_card', recipe_ingredient_groups: @recipe_ingredient_groups %>
      
        <%= render 'recipe_ingredient_groups_card', recipe_ingredient_group: @new_recipe_ingredient_group, recipe: @recipe %>

  </div> 
    <br>
</div>

    <br>


