<%#= turbo_frame_tag(dom_id(ingredient)) do %>


<%= form_with(model: ingredient, local: false) do |form| %>
  
  <%= render 'shared/errors', object: ingredient %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control', autofocus: true %>
  </div>

  <div class="form-group">
    <%= form.label :Category %>
    <div class="dropdown">
      <%= collection_select(:ingredient, :ingredient_category_id, IngredientCategory.all, :id, :name) %>
    </div>
  </div>
  <br>  <br>  

   
    <br>  <br> 

  <div class="form-group">
    <%#= form.label :main_image %>
    <%#= form.file_field :main_image, direct_upload: true, multiple: false %>
  </div>

  <div class="form-group">
    <% if ingredient.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', ingredient, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>



    <%= form.submit class: 'btn btn-primary' %>

    <% if ingredient.persisted? %>
      <%= link_to "Cancel", ingredient, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", ingredients_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>

<%# end %>

 <br>  <br> 
