

<%= form_with(model: ingredient, id: dom_id(ingredient) ) do |form| %>
  
  <%= render 'shared/errors', object: ingredient %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control', autofocus: true %>
  </div>

  <div class="form-group">
    <%= form.label :Category %>
    <div class="dropdown">
      <%= collection_select(:ingredient, :ingredient_category_id, IngredientCategory.all, :id, :name) %>
    </div>
  </div>

  <div class="form-group">
    <% if ingredient.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', ingredient, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%#= form.submit class: 'btn btn-primary' %>

    <% if ingredient.persisted? %>
          <% if current_user.admin? %>
              <td> <%= form.submit class: 'btn btn-primary' %> </td>
              <% elsif Recipe.not_user(current_user).ingredient(ingredient).empty? && ingredient.user == current_user %>
                <td> <%= form.submit class: 'btn btn-primary' %> </td>
              <% else %>
                <td> Contact admin to edit.</td>
          <% end %>
    <% else %>
            <td> <%= form.submit class: 'btn btn-primary' %> </td>
    <% end %>
    




    <% if ingredient.persisted? %>
      <%= link_to(
              "Cancel",
              ingredient_path(ingredient, inline: true)
              ) %>
    <% else %>
      <%= link_to "Cancel", ingredients_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>

 <br>  <br> 
