
<%= turbo_frame_tag(dom_id(ingredient)) do %>

<li><%= ingredient.name %>, (<%= ingredient.ingredient_category.name %>)

    <%= link_to "Edit", edit_ingredient_path(ingredient) %>
    <% if current_user&.admin? %>
           <td> <%= link_to 'Destroy', ingredient, method: :delete, class: "text-danger" %></td>           
    <% end %>  

</li>

<% end %>