<%#= turbo_stream_from "ingredients_bakery" %>

<%= turbo_frame_tag "ingredient_form" do %>
  <%= render "ingredients/form", ingredient: @ingredient %>
<% end %>



<%# <%= turbo_frame_tag "ingredients_bakery" do %>
<%#      Bakery Ingredients: <br>
<%#      <%= render @bakery_ingredients %>
<%# <% end %>


<%= turbo_stream_from "bakery" %>
<%= turbo_frame_tag "bakery" do %>

  <%#= render @ingredients %>
  <% @bakery_ingredients.each do |ingredient| %>

    <%= turbo_frame_tag(dom_id(ingredient)) do %>

      <li><%= ingredient.name %>, (<%= ingredient.ingredient_category.name %>)
          <%= link_to "Edit", edit_ingredient_path(ingredient) %>
      </li>

    <% end %>

  <% end %>

<% end %>

----------------------

<%= turbo_stream_from "ingredients" %>
<%= turbo_frame_tag "ingredients" do %>

  <%#= render @ingredients %>
  <% @ingredients.each do |ingredient| %>

    <%= turbo_frame_tag(dom_id(ingredient)) do %>

      <li><%= ingredient.name %>, (<%= ingredient.ingredient_category.name %>)
          <%= link_to "Edit", edit_ingredient_path(ingredient) %>
      </li>

    <% end %>

  <% end %>

<% end %>



<br>--------<br>
<div class="row">
  <div class="col-sm-6">
    <h1>Ingredients</h1>
  </div>

  <div class="col-sm-6 text-right">
  <% if current_user.admin? %>
    <%= link_to "Edit Categories", ingredient_categories_path, class: 'btn btn-primary' %>
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Ingredient category</th>
            
      </tr>
    </thead>

    <tbody>
    <%= form_with(model: @new_ingredient, local: true, url: ingredients_path, method: :post) do |form| %>
                  <td> <%= form.text_field :name, class: 'form-control', autofocus: true %> </td>
                  <td> <%= collection_select(:ingredient, :ingredient_category_id, IngredientCategory.all, :id, :name) %> </td>
                  <td> <%= form.submit class: 'btn btn-primary' %> </td>
                  
    <% end %>


      <% @ingredients.each do |ingredient| %>
        <%= content_tag :tr, id: dom_id(ingredient), class: dom_class(ingredient) do %>
          
            
            <%= form_with(model: ingredient, local: true) do |form| %>
                  <td> <%= form.text_field :name, class: 'form-control', autofocus: true %> </td>
                  <td> <%= collection_select(:ingredient, :ingredient_category_id, IngredientCategory.all, :id, :name, {:selected => ingredient.ingredient_category_id}) %> </td>
                  
                  
                  <% if ingredient.persisted? %>
                    <% if current_user.admin? %>
                      <td> <%= form.submit class: 'btn btn-primary' %> </td>
                    <% elsif Recipe.not_user(current_user).ingredient(ingredient).empty? && ingredient.user == current_user %>
                      <td> <%= form.submit class: 'btn btn-primary' %> </td>
                    <% else %>
                      <td> Contact admin to edit.</td>
                    <% end %>
                  <% else %>
                    <td> <%= form.submit class: 'btn btn-primary' %> </td>
                  <% end %>

                  
                  <% if current_user.admin? %>
                    <td> <%= link_to 'Destroy', ingredient, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
                          </td>
                  <% end %>
            <% end %>

            
            
          

                      
          
          
        <% end %>
      <% end %>
      
            <%= form_with(model: @new_ingredient, local: true) do |form| %>
                  <td> <%= form.text_field :name, class: 'form-control', autofocus: true %> </td>
                  <td> <%= collection_select(:ingredient, :ingredient_category_id, IngredientCategory.all, :id, :name) %> </td>
                  <td> <%= form.submit class: 'btn btn-primary' %> </td>
                  <td>  
                        </td>
            <% end %>
    </tbody>
  </table>
</div>
