<%= form_with(scope: :leftover, local: true, url: url, method: method) do |form| %>
  <% if leftover.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(leftover.errors.count, "error") %> prohibited this leftover from being saved:</h2>

      <ul>
      <% leftover.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="form-group">
    <%= form.label :portions_leftover %> (out of <%= round_nicely(@meal_recipe.portions) %> total)
    <%= form.text_field :max_portions, in: 0.5..30.0, step: 0.5, class: 'form-control' %>
  </div>

  

  <div class="form-group">
    <% if leftover.persisted? %>
      <div class="float-right">
        <%= link_to 'Delete', leftover_path, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
        <% if leftover.meal_with_leftovers.present? %> (note: this will also delete leftovers being assigned to other meals listed below). <% end %>
      
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <%= link_to "Cancel", @meal_plan, class: "btn btn-link" %>

    
  </div>
<% end %>
