


<div class="row">
  <div class="col-sm-6">
    <h1>Leftovers</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_leftover_path, class: 'btn btn-primary' do %>
    Add New Leftover
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Meal recipe</th>
            <th>Recipe</th>
            <th>Portions</th>
            <th>Stock level</th>
            <th>Date made</th>
            <th>User</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @leftovers.each do |leftover| %>
        <%= content_tag :tr, id: dom_id(leftover), class: dom_class(leftover) do %>
          

                      <td><%= leftover.meal_recipe %></td>
                      <td><%= leftover.recipe %></td>
                      <td><%= leftover.max_portions %></td>
                      <td><%= leftover.stock_level %></td>
                      <td><%= leftover.date_made %></td>
                      <td><%= leftover.user %></td>
          
          
            <td><%= link_to 'Show', leftover %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
