


<div class="row">
  <div class="col-sm-6">
    <h1>Ingredient Categories</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to "Add New Ingredient category", new_ingredient_category_path, class: 'btn btn-primary' %>

  <%= link_to "Ingredients", ingredients_path, class: 'btn btn-primary' %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            
      </tr>
    </thead>

    <tbody>
      <% @ingredient_categories.each do |ingredient_category| %>
        <%= content_tag :tr, id: dom_id(ingredient_category), class: dom_class(ingredient_category) do %>
          
            <%#= link_to ingredient_category.name, ingredient_category %>
            <%= form_with(model: ingredient_category, local: true) do |form| %>
                  <td><%= form.text_field :name, class: 'form-control', autofocus: true %></td>
                  <td><%= form.submit class: 'btn btn-primary' %></td>
                  <td><%= link_to 'Delete', ingredient_category, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %></td>

            <% end %>
            
          

          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
