<%= turbo_frame_tag "day#{day.id}" do %> 
    <div class="container rounded p-3 bg-transparent" style="border:2px solid green">

        <div data-controller="toggle" data-toggle-visible-value="false" 
                            data-toggle-hide-text="Hide <%= nice_date(@day.date) %>" 
                            data-toggle-show-text="Show <%= nice_date(@day.date) %>">
            
          
                <div class="container rounded p-3 my-3 bg-light" style="border:0px solid black">
                    <div class="row">
                        <div class="col-sm">
                            <h3><%= nice_date(day.date) %></h3>
                            <button type="button" class="btn btn-primary " 
                                data-action="click->toggle#showhide"
                                data-toggle-target="buttonText">
                                Show day
                            </button>
                        </div>
                        <div class="col-sm">
                            <% if day.holiday.present? %>    -----<em><span style = "font-family:Nothing You Could Do"><%= day.holiday %><em></span>-----<br><% end %>
                            <%= link_to "Notes:", edit_day_path(day) %> <span style = "font-family:Nothing You Could Do"><%= day.notes %></span>
                        </div>
                        <div class="col-sm">
                        <% if meal_plan.status == "draft" %>
                                <%= link_to "Delete day & all meals in it", day_path(day), 
                                        method: :delete, class: "text-danger", 
                                        data: { confirm: 'Are you sure? This will remove the day and all meals in it.' } %>
                        <% end %>
                        </div>
                    </div>
                </div>
            <div data-toggle-target="content" class="d-none">
                <br>
            
                <div data-controller="toggle" data-toggle-visible-value="false" 
                        data-toggle-hide-text="Hide form" 
                        data-toggle-show-text="Add meal to day">
                    
                    <button type="button" class="btn btn-primary " 
                        data-action="click->toggle#showhide"
                        data-toggle-target="buttonText">
                        Add meal to day
                    </button><br><br>

                    <div data-toggle-target="content" class="d-none">
                        <% if meal_plan.status=="draft" %>
                                <%= render "meals/simple_form", day: day, meal: meal %>
                        <% end %><br><br>
                    </div>
                </div>
                
                <%= turbo_stream_from "meallist#{day.id}" %>
                <%= turbo_frame_tag "meallist#{day.id}" do %> 
                    <% day.meals.order(:time).each do |meal| %>  
                        <%= turbo_frame_tag "meal#{meal.id}", src: meal_path(meal.id), loading: :eager do %>
                            Loading MEAL: <%= meal.id %><br>
                        <% end %>
                    <% end %>
                <% end %><br>     

            </div>
        </div>
    </div><br>
<% end %>

