<% if @days.first.date == Date.today %>
  <h1>What's on the menu today?</h1> <h3><span class =font_handwriting>(<%= nice_date(Date.today) %>)</span></h3>
<% else%>
  <h1>What's on the menu?</h1> <h3><span class =font_handwriting>(<%= nice_date(@days.first.date) %>)</span></h3>

<% end %>
<br><br>

  <% @days.each do |day| %>
      <% day.meals.each do |meal| %>
      <% if meal.meal_recipes.present? %>
        <h2><%= meal.name %></h2><br>
      <% end %>
            <% meal.meal_recipes.each do |mr| %> 

                <div class="row">
                    <div class="col-sm-7">
                      <%= render 'recipes/method_card', recipe: mr.recipe, edit: "no", portions: mr.portions %>
                      <br>
                    </div>

                    <div class="col-sm-5">
                    <%= render 'meal_recipes/meal_recipe_ingredients', mr: mr %>
                    </div>
                </div>
            <% end %>
      <% end %>
  <% end %>
          
            
  
