<% if @days.present? %>
<%= link_to "view full meal plan", meal_plan_path(@meal_plan) %>
    <% if @days.first.date.present? && @days.first.date == Date.today %>
      <h1>What's on the menu today?</h1> <h3><span class =font_handwriting>(<%= nice_date(Date.today) %>)</span></h3>
    <% else%>
      <h1>What's on the menu?</h1> <h3><span class =font_handwriting>(<%= nice_date(@days.first.date) %>)</span></h3>
    <% end %>
  <% else %>
    <h1>There's nothing on the menu today :-( </h1> 
  <% end %>
<br><br>

  <% @days.each do |day| %>
      <% day.meals.each do |meal| %>
      <% if meal.meal_recipes.present? %>
        <nav class="navbar navbar-light bg-light">
          <span class="navbar-brand mb-0 h1"><%= meal.name %></span>
        </nav>
        <br>


        
      <% end %>
            <% meal.meal_recipes.each do |mr| %> 

                <div class="row">
                    <div class="col-sm-7">
                      <%= render 'recipes/method_card', recipe: mr.recipe, edit: "no", portions: mr.portions %>
                      <br>
                    </div>

                    <div class="col-sm-5">
                    <%= image_tag(mr.recipe.main_image, class: "rounded-circle", size: '150', style: 'object-fit: cover')  %> 
                    <br><br>

                    <%= render 'meal_recipes/meal_recipe_ingredients', mr: mr %>

                    </div>
                </div>
            <% end %>
<br>
          <div class="row">
              
                <% if meal.meal_ingredients.no_recipe.present? %>
                  <div class="col-sm-6">
                      <div class="card">
                          <div class="card-header">
                            Other things to have with this meal:
                          </div>
                          <p class="card-text">
                            <ul><span class =font_handwriting >
                            <% meal.meal_ingredients.no_recipe.each do |mi| %>
                                <li><%= render 'shared/display_ingredient_info', mi_or_ri: mi   %>
                            <% end %>
                            </span></ul>
                          </p>
                      </div>
                  </div><br>
                <% end %>

                <% if MealWithLeftover.meal(meal).present? %>
                  <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">
                              Leftovers:
                            </div>
                            <p class="card-text">
                              <% MealWithLeftover.meal(meal).each do |meal_with_leftover| %>
                                <div class="row">
                                    <div class="col-1">
                                    </div>
                                    <div class="col-2">
                                      <%= image_tag(meal_with_leftover.leftover.recipe.main_image, class: "rounded-circle", size: '60', style: 'object-fit: cover')  %> 
                                    </div>
                                    <div class="col-8">
                                      <h6><%= meal_with_leftover.leftover.recipe.name %></h6>
                                    </div>
                                </div>
                              <% end %>
                            </p>
                        </div>
                    </div><br>
                <% end %>

            </div><br>
          
      <% end %>
  <% end %>
          
            
  <br>
