<div class="page-header">
  <%= link_to meal_path(@meal), class: 'btn btn-default' do %>
    All Meals
  <% end %>
  <%= link_to edit_meal_path(@meal), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show meal</h1>
</div>

<dl class="dl-horizontal">
  <dt>Meal plan:</dt>
  <dd><%= @meal.day.meal_plan.id %></dd>

  <dt>Name:</dt>
  <dd><%= @meal.name %></dd>

  <dt>Favorite:</dt>
  <dd><%= @meal.favorite %></dd>

  <dt>Notes:</dt>
  <dd><%= @meal.notes %></dd>

  

</dl>
