
<%= form_with(scope: :meal_recipe, url: url, local: true, method: method) do |form| %>

    <%= render 'shared/errors', object: @meal_recipe %>
    
    <%= collection_select(:meal_recipe, :recipe_id, Recipe.all, :id, :name, 
        {:prompt => 'Add recipe to meal'}, 
        {:class=>'input',
        :style=>'width:100%', 
        :onchange=>"$('#accordion').accordion('activate',2);$('#blind').show('blind', 500)"})%>
    
    <%#= form.submit "Add recipe", class: 'btn btn-primary' %>
    <span class="badge bg-light text-dark">
        <%= form.submit "Add ffrecipe" %>
    </span>

    <%= form.hidden_field :meal_id, value: meal.id %>

<% end %>


<span class="badge bg-light text-dark">
    <%= form.submit "Add recipe" %>
</span>