<%= turbo_frame_tag("meal_recipe#{meal_recipe.id}") do %>

    <div class="row">
        <div class="col-1">
        <%= image_tag(meal_recipe.recipe.main_image, class: "rounded-circle", size: '60', style: 'object-fit: cover')  %> 
        </div>
        <div class="col-4">
        <h6><%= meal_recipe.recipe.name %></h6>
        </div>
    </div>

    <%# first_leftover = Leftover.meal_recipe(meal_recipe).first %>
    <%= turbo_stream_from("mr_ingredients_list#{meal_recipe.id}") %>
    <%= turbo_frame_tag "mr_ingredients_list#{meal_recipe.id}" do %>

        <% if meal_plan.status=="draft" %>
            
                <%= render "meal_recipe_portion_info", leftover: leftover, meal_recipe: meal_recipe %>
           
        <% else %>
            <span class="badge bg-light text-dark">
            <%= pluralize(round_nicely(meal_recipe.portions), "portion") -%>
            </span>
        <% end %>


            <% meal_recipe.meal_ingredients.includes(:ingredient).each do |meal_ingredient| %>
                <%= turbo_frame_tag "meal_ingredient#{meal_ingredient.id}", src: meal_ingredient_path(meal_ingredient), loading: :eager do %>
                        Loading MEAL_INGREDIENT: <%= meal_ingredient.id %>
                <% end %>
            <% end %>

    <% end %>
                <%= turbo_frame_tag "meal_ingredient_form_mealrecipe#{@meal_recipe.id}" do %>
                    <%= render 'meal_ingredients/form',  url: meal_recipe_meal_ingredients_path(@meal_recipe), meal_ingredient: @meal_ingredient, method: :post, id: "mealrecipe#{@meal_recipe.id}mealingredient#{@meal_ingredient.id}" %>
                <% end %>
            <br>
<% end %>