<%= turbo_frame_tag "portion_info_mr#{meal_recipe.id}" do %>

        <% if leftover.present? %>
            <span class="badge bg-light text-dark">
            <%= pluralize(round_nicely(meal_recipe.portions), "portion") -%>
            </span>
            <span class="badge bg-success text-light">
            eat: <%= round_nicely(meal_recipe.portions - leftover.max_portions) %>
            </span>
            <%= link_to "save: #{round_nicely(leftover.max_portions)}", edit_meal_recipe_leftover_path(meal_recipe, leftover), class:"badge bg-secondary text-light" %>
            <% if leftover.meal_with_leftovers.present? %>
                <%= link_to "X", meal_recipe_leftover_path(meal_recipe, leftover), method: :delete, class:"badge bg-secondary text-light", 
                        data: { confirm: "Are you sure? #{leftover.meal_recipe.recipe.name} has already been added to #{ pluralize(leftover.meal_with_leftovers.count, 'meal') } " } %>
            <% else %>
                <%= link_to "X", meal_recipe_leftover_path(meal_recipe, leftover), method: :delete, class:"badge bg-secondary text-light" %>
            <% end %>
        <% else %>
            <span class="badge bg-light text-dark">
            <%= pluralize(round_nicely(meal_recipe.portions), "portion") -%>
            </span>
            <%= link_to "no leftovers", new_meal_recipe_leftover_path(meal_recipe), class:"badge bg-secondary text-light" %><br>
            <%= render 'meal_recipes/meal_ingredient_portion_buttons', meal_recipe: meal_recipe %>
        <% end %>

<% end %>